{
  "parser": "babel-eslint",
  "extends": "binary",
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "camelcase": 0,
    "no-undef": 0,
    "react/jsx-indent": [0, "tab"],
    "react/prefer-stateless-function": 0,
    "react/jsx-indent-props": [0, "tab"],
    "react/jsx-filename-extension": 0,
    "import/named": 0,
    "import/default": 0,
    "import/namespace": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
  }
}
